WEBTEMPLATE
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ {String.upcase(@heading)}

{@greeting}

{@body}

{@closing} ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
© {DateTime.utc_now().year} WebTemplate.
